@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:150px; text-align:center;">
    <h2>Bienvenido</h2>
</div>

@Html.DevExpress().DockZone(settings =>
{
    settings.Name = "DockZone";
    settings.ZoneUID = "Zone";
    settings.Width = 300;
}).GetHtml()




@Html.DevExpress().DockPanel(settings =>
{
    settings.Name = "DockPanel";
    settings.HeaderText = "Dock Panel";
    settings.AllowedDockState = AllowedDockState.All;
}).GetHtml()
