<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Conexion de desarrollo-->
    <!--<add name="ConnectionManager" connectionString="Data Source=DEVELOPER;Initial Catalog=AIPos;User Id=sa;Password=12345;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionManager" connectionString="Data Source=h38spoq8ry.database.windows.net,1433;Initial Catalog=AIPos;User Id=lastwilldeliver;Password=01Lw1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>