<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Conexion de desarrollo-->
    <add name="ConnectionManager" connectionString="Data Source=BLUEICON;Initial Catalog=ARPos;User Id=sa;Password=12345;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>