@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewListaPrecios";
        settings.CallbackRouteValues = new { Controller = "ListasPrecio", Action = "GridViewPartialListaPrecios" };
        settings.ClientSideEvents.BeginCallback = "function(s, e) { "+
            "e.customArgs['ListaPrecioIdSelected'] = cmbListasPrecio.GetValue(); "+
            "e.customArgs['Codigo'] = txtCodigoProducto.GetText(); "+
            "e.customArgs['Nombre'] = txtNombreProducto.GetText();"+
            "e.customArgs['TipoId'] = cmbTipo.GetValue(); }";

        settings.KeyFieldName = "ProductoId";

        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.Settings.ShowColumnHeaders = true;
        settings.SettingsPager.PageSize = 100;
        settings.SettingsPager.AlwaysShowPager = true;

        settings.Columns.Add(col=>{
            col.FieldName = "Codigo";
            col.Width = 100;
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "Producto";
            col.Width = 200;
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "PrecioBase";
            col.Caption = "Precio costo";
            col.Width = 100;
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "PrecioLista";
            col.Width = 100;
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "Descuento";
            col.Width = 100;
        });

        settings.Columns.Add(col =>
        {
            col.FieldName = "PrecioDescuento";
            col.Width = 100;
        });

        settings.Columns.Add(col =>
        {
            col.Name = "Comando";
            col.ColumnType = MVCxGridViewColumnType.ButtonEdit;
            col.Width = 63;
        });

        settings.SetDataRowTemplateContent(c =>
        {
            var precioBase = Decimal.Parse(DataBinder.Eval(c.DataItem, "PrecioBase").ToString());
            var precioLista = Decimal.Parse(DataBinder.Eval(c.DataItem,"PrecioLista").ToString());
            var precioDescuento = Decimal.Parse(DataBinder.Eval(c.DataItem, "PrecioDescuento").ToString());
            var descuento = Decimal.Parse(DataBinder.Eval(c.DataItem, "Descuento").ToString());
            var productoId = int.Parse(DataBinder.Eval(c.DataItem, "ProductoId").ToString());
            using (Ajax.BeginForm("ActualizarPrecio", "ListasPrecio", new AjaxOptions { OnSuccess = "GridViewListaPrecios.PerformCallback();" }))
            {

                ViewContext.Writer.Write(
                    "<div class='fila'><table>" +
                        "<tr>" +
                            "<td style='width:113px;'>" +
                                DataBinder.Eval(c.DataItem, "Codigo") +
                            "</td>" +
                            "<td style='width:231px;'>" +
                                DataBinder.Eval(c.DataItem, "Producto") +
                            "</td>" +
                            "<td style='width:116px;'>" +
                                    precioBase.ToString("c") +
                            "</td>" +
                            "<td style='width:114px;'>" +
                                Html.TextBox("PrecioLista", Math.Round(precioLista,2),
                                new
                                {
                                    id = "txtPrecioLista_" + productoId.ToString(),
                                    onkeyup = "ModificarDescuento(" + productoId + ")",
                                    style = "width:114px;"
                                }) +
                            "</td>" +
                            "<td style='width:113px;'>" +
                                Html.TextBox("Descuento", Math.Round(descuento,2),
                                new
                                {
                                    id = "txtDescuento_" + productoId.ToString(), 
                                    onkeyup = "ModificarDescuento(" + productoId + ")",
                                    style = "width:113px;"
                                }) +
                            "</td>" +
                            "<td style='width:136px;'>" +
                                Html.TextBox("PrecioDescuento", Math.Round(precioDescuento,2), new
                                {
                                    id = "txtPrecioDescuento_" + productoId.ToString(), 
                                    onkeyup="ModificarPrecioDescuento("+productoId+")",
                                    style="width:136px;"
                                }) +
                            "</td>" +
                            "<td style='width:80px; text-align:center;'>" +
                                "<button type='submit'>Guardar</button>" +
                            "</td>" +
                        "</tr>" +
                        "</div></table>" +
                        Html.Hidden("ProductoId", productoId) +
                        Html.Hidden("Producto", DataBinder.Eval(c.DataItem, "Producto")) +
                        Html.Hidden("PrecioBase", precioBase) +
                        Html.Hidden("ListaPrecioId", DataBinder.Eval(c.DataItem, "ListaPrecioId")) +
                        Html.Hidden("EsNuevo", DataBinder.Eval(c.DataItem, "EsNuevo")));
            }
        });
        
        
    });
}
@grid.Bind(Model).GetHtml()