@{
    ViewBag.Title = "Asignar lista a sucursal";
}
<div style="width:460px; margin:0px auto;">
    <h5>Asignación de lista de precios a sucursales</h5>
    @Html.Action("GridViewPartialSucursalListaPrecio")
</div>