@if (Request.IsAuthenticated) {
        <li>
                <a>Hola, @User.Identity.Name</a>

            
        </li>
    <li style="padding-top:10px;">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-default" type="submit">Cerrar sesión</button>
        }
    </li>
} else {
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
