<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIPos.DekstopLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    

    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISProducto" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ISProveedor" />
                <binding name="BasicHttpBinding_ISSucursal" />
                <binding name="BasicHttpBinding_ISUsuario" />
                <binding name="BasicHttpBinding_ISEntrada" />
                <binding name="BasicHttpBinding_ISTipoProducto" />
                <binding name="BasicHttpBinding_ISCliente" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IISListaPrecioProducto" />
                <binding name="BasicHttpBinding_IISVenta" />
                <binding name="BasicHttpBinding_ISServicioApartado" />
                <binding name="BasicHttpBinding_ISDireccion" />
                <binding name="BasicHttpBinding_ISDireccionEnvio" />
                <binding name="BasicHttpBinding_IISRetiroDinero" />
                <binding name="BasicHttpBinding_ISTipo" />
                <binding name="BasicHttpBinding_ISUnidad" />
                <binding name="BasicHttpBinding_ISInventario" />
                <binding name="BasicHttpBinding_ISPedidoSucursal" />
                <binding name="BasicHttpBinding_ISListaPrecio" />
                <binding name="BasicHttpBinding_ISCorteCaja" />
                <binding name="BasicHttpBinding_ISSeguimientoServicioApartado" />
                <binding name="BasicHttpBinding_ISDireccionFacturacion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCliente"
                contract="ServiceCliente.ISCliente" name="BasicHttpBinding_ISCliente" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SProducto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISProducto"
                contract="ServiceProducto.ISProducto" name="BasicHttpBinding_ISProducto" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SProveedor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISProveedor"
                contract="ServiceProveedor.ISProveedor" name="BasicHttpBinding_ISProveedor" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SSucursal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSucursal"
                contract="ServiceSucursal.ISSucursal" name="BasicHttpBinding_ISSucursal" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/STipoProducto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISTipoProducto"
                contract="ServiceTipoProducto.ISTipoProducto" name="BasicHttpBinding_ISTipoProducto" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SUsuario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISUsuario"
                contract="ServiceUsuario.ISUsuario" name="BasicHttpBinding_ISUsuario" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SEntrada.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISEntrada"
                contract="ServiceEntrada.ISEntrada" name="BasicHttpBinding_ISEntrada" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/ISListaPrecioProducto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IISListaPrecioProducto"
                contract="ServiceListaPrecioProducto.IISListaPrecioProducto"
                name="BasicHttpBinding_IISListaPrecioProducto" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SServicioApartado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISServicioApartado"
                contract="ServiceServicioApartado.ISServicioApartado" name="BasicHttpBinding_ISServicioApartado" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SDireccion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDireccion"
                contract="ServiceDireccion.ISDireccion" name="BasicHttpBinding_ISDireccion" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SDireccionEnvio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDireccionEnvio"
                contract="ServiceDireccionEnvio.ISDireccionEnvio" name="BasicHttpBinding_ISDireccionEnvio" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/ISVenta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IISVenta"
                contract="ServiceVenta.IISVenta" name="BasicHttpBinding_IISVenta" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/ISRetiroDinero.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IISRetiroDinero"
                contract="ServiceRetiroDinero.IISRetiroDinero" name="BasicHttpBinding_IISRetiroDinero" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/STipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISTipo"
                contract="ServiceTipo.ISTipo" name="BasicHttpBinding_ISTipo" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SUnidad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISUnidad"
                contract="ServiceUnidad.ISUnidad" name="BasicHttpBinding_ISUnidad" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SInventario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISInventario"
                contract="ServiceInventario.ISInventario" name="BasicHttpBinding_ISInventario" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SPedidoSucursal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISPedidoSucursal"
                contract="ServicePedidoSucursal.ISPedidoSucursal" name="BasicHttpBinding_ISPedidoSucursal" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SListaPrecio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISListaPrecio"
                contract="ServiceListaPrecio.ISListaPrecio" name="BasicHttpBinding_ISListaPrecio" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SCorteCaja.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCorteCaja"
                contract="ServiceCorteCaja.ISCorteCaja" name="BasicHttpBinding_ISCorteCaja" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SSeguimientoServicioApartado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSeguimientoServicioApartado"
                contract="ServiceSeguimientoServicioApartado.ISSeguimientoServicioApartado"
                name="BasicHttpBinding_ISSeguimientoServicioApartado" />
            <endpoint address="http://serveraplicaciones.cloudapp.net:66/SDireccionFacturacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDireccionFacturacion"
                contract="ServiceDireccionFacturacion.ISDireccionFacturacion"
                name="BasicHttpBinding_ISDireccionFacturacion" />
        </client>
    </system.serviceModel>
</configuration>