<div id="divCorte">
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewReporteCorteCaja";
        settings.CallbackRouteValues = new { Controller = "ReporteCorteCaja", Action = "GridViewPartialReporteCorteCaja" };
        settings.ClientSideEvents.BeginCallback = "function(s,e){ e.customArg['FechaInicio']=FechaInicio.GetDate(); e.customArg['FechaFin']=FechaFin.GetDate(); }";
        settings.KeyFieldName = "Folio";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Columns.Add("Cliente");
        settings.Columns.Add("Sucursal");
        settings.Columns.Add("Fecha");
        settings.Columns.Add("Total");
        settings.Columns.Add("Recibio");
        settings.Columns.Add("Cambio");
        settings.Columns.Add("Anticipo");
        settings.Columns.Add("FolioCancelado");
        settings.Columns.Add("Folio");
        settings.Columns.Add("Usuario");
        settings.Columns.Add("Estatus");
        settings.Columns.Add("Tipo");
        settings.Columns.Add("Cancelado");
    });
}
@grid.Bind(Model).GetHtml()
</div>