@{
    ViewBag.Title = "Index";
}

<h2>Corte de caja</h2>
@using (Ajax.BeginForm("GridViewPartialReporteCorteCaja", new AjaxOptions { UpdateTargetId = "divCorte" }))
{
<table>
    <tr>
        <td>
            @Html.DevExpress().DateEdit(settings =>
            {
                settings.Name = "FechaInicio";
                settings.Properties.AllowNull = false;
                settings.Properties.NullText = "Fecha de inicio";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(settings =>
            {
                settings.Name = "FechaFin";
                settings.Properties.AllowNull = false;
                settings.Properties.NullText = "Fecha de fin";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(settings =>
            {
                settings.Name = "SucursalId";
                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                settings.Properties.ValueField = "Id";
                settings.Properties.TextField = "Nombre";
                settings.Properties.NullText = "Sucursal que realizo las ventas";
            }).BindList(new AIPos.BusinessLayer.BOSucursal().SelectAll()).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(settings=>
           {
               settings.Name = "btnConsultar";
               settings.Text = "Consultar";
               settings.UseSubmitBehavior = true;
           }).GetHtml()
        </td>
    </tr>
</table>

}

<div id="divCorte">

</div>
